<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX & Go - Demo</title>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>

</head>
<body>
    <div id="root">
        <h1>Keyboard Generation</h1>
    
        <h3>Workers</h3>

        <form hx-post="/add-server" hx-target="#workers" hx-swap="outerHTML">
            <div>
                <label for="host">Host</label>
                <input type="text" name="host" id="host" />
            </div>
            <br>
            <button type="submit">Add Worker</button>
        </form>

        <h3>Start Job</h3>

        <form hx-post="/start-job" hx-target="#workers" hx-swap="outerHTML">
            <div>
                <label for="job-name">Job Name</label>
                <input type="text" name="job-name" id="job-name" />
            </div>
            <div>
                <label for="batch-size">Batch Size</label>
                <input type="number" name="batch-size" id="batch-size" />
            </div>
            <div>
                <label for="batches">Batches</label>
                <input type="number" name="batches" id="batches" />
            </div>
            <br>
            <button type="submit">Start Job</button>
        </form>

        <h3>Status</h3>

        {{ block "status" .}}
        <ul id="workers" hx-get="/update-job" hx-trigger="every 3s" hx-swap="outerHTML">
            {{ range $h, $w := .Hosts }}
            <li>{{ $h }} {{ $w }}</li>
            {{ else }}
                <li>What is a composer without an orchestra?</li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <br>
    <br>
    <img src="https://htmx.org/img/createdwith.jpeg" alt="hypermedia is my passion" height="90">
</body>
</html>

